<h2>about me</h2>
<p>I'm a PhD candidate at <a href="http://www.fbk.eu">FBK</a> who is expected to obtain his degree in April 2014 from the ICT Doctoral School of the University of Trento. I received my Master in Computer Science degree from both the Georgia Institute of Technology (Atlanta, GA, USA) and the University of Trento (cum laude) in 2010. My research interests include ICT for Development, Living Labs, Social Innovation and Project Management. I am also quite fond of Legal Informatics, HCI and Participatory Design.</p>

<p>I am the project manager of <a href="http://www.bringfood.org">BringTheFood</a>, a mobile and web application to fight food waste developed at FBK in collaboration with Fondazione Banco Alimentare (the Italian Food Bank).</p>

<p>Since 2011 I have bee involved in the Maputo Living Lab initiative in Mozambique, sponsored by the Autonomous Province of Trento and supported by the Ministry of Science and Technology of Mozambique. Since that year I have been actively involved in the organization and teaching activities of the Summer School of ICTs and the Summer School of Ruby on Rails in Maputo, where I taught Agile software development, project management and Ruby on Rails development.</p>

<p>From October 2010 to December 2012 I have been one of the instructors of the Case Studies course of the Professional Master in eGovernment Technologies of the University of Trento.</p>

<p>I am also one of the organizers of the Trento edition of <a href="http://ict4g.github.io/rhok-trento">Random Hacks of Kindness (RHoK).</a></p>

<h3><a href="{{ root_url }}/publications">my publications »</a></h3>
<h3><a href="{{ root_url }}/teaching">teaching »</a></h3>