<h2>about me</h2>
<p>I'm a PhD student at the <a href="http://ict.unitn.it">ICT Doctoral School of the University of Trento</a>, Italy. I'm working in the <a href="http://ict4g.fbk.eu">ICT4G group</a> at <a href="http://www.fbk.eu">Fondazione Bruno Kessler</a> (Trento, Italy) and my current interests include ICT for Development, Living Labs, Legal Informatics, HCI and Participatory Design.</p>

<p>I obtained my BS degree in Computer Science at the University of Trento in 2007 with a thesis on law modeling. I participated to the ATLAS dual Master Degree in Computer Science at the University of Trento and at Georgia Institute of Technology (Atlanta, GA). I received a MS degree in Computer Science from Georgia Tech in May 2010 and I graduated cum laude from the University of Trento in July 2010.</p>

<p>I am currently the project manager of <a href="http://www.bringfood.org">BringTheFood</a>, a mobile and web application to fight food waste.</p>

<p>I am also involved in the organization of <a href="http://www.maputolivinglab.org">Maputo Living Lab</a>'s Summer School of ICTs and <a href="http://ict4g.github.com/rhok-trento">RHoK hackathons in Trento</a>.</p>

<p>From October 2010 to December 2012 I have also been one of the instructors of the Case Studies course of the Professional Master in eGovernment Technologies of the University of Trento.</p>

<h3><a href="{{ root_url }}/publications">my publications »</a></h3>